._label {
    font-weight: bold;
    max-width: 50px;
    text-align: center;
}

.__theme {
    border-color: red !important;
}

.__plugin {
    border-color: green !important;
}

.__system {
    border-color: #003cb3 !important;
}

.w_status_0 {
    opacity: 0.5;
}

.ui-draggable-dragging .view {
    display: block;
}

.ui-sortable-placeholder {
    outline: 1px dashed red;
    visibility: visible !Important;
    border-radius: 4px;
}

.panel-group {
    margin-bottom: 5px;
}

.preview {
    background: #D9EDF7;
    padding: 1px 0px;
    text-align: center;

    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    border: 1px solid #BCE8F1;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
}

.option {
    display: none;
}

.box-pluign, .grid {
    position: relative;
}

.box-pluign {
    z-index: 999;
    margin-top: 3px;
}

.drag {
    cursor: move;
}

.tool {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.drag, .remove, .configuration, .status {
    white-space: nowrap;
    color: #ffffff;
    z-index: 995;
    position: absolute;
}

.sidebar-nav .view {
    display: none;
}

.sidebar-nav .remove,
.sidebar-nav .configuration, .sidebar-nav .grid_options, .sidebar-nav .status {
    display: none;
}

.sidebar-nav .drag {
    top: 1px;
    right: 0;
}

.demo .status {
    top: 2px;
    right: 76px

}

.demo .configuration {
    top: 2px;
    right: 52px;

}

.demo .remove {
    top: 2px;
    right: 3px;
}

.demo .drag {
    top: 2px;
    right: 26px;
}

.demo .preview {
    display: none;
}

.demo {
    margin-left: 0px;
    margin-top: 10px;
    padding: 15px 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
}

/*.demo .row:before {*/
/*background-color: #F5F5F5;*/
/*border: 1px solid #DDDDDD;*/
/*border-radius: 4px 0 4px 0;*/
/*color: #9DA0A4;*/
/*content: "Row";*/
/*font-size: 12px;*/
/*font-weight: bold;*/
/*left: -1px;*/
/*line-height:2;*/
/*padding: 3px 7px;*/
/*position: absolute;*/
/*top: -1px;*/
/*}*/
.demo .plugin {
    border: 3px solid;
    border-bottom: none;
    border-top: none;
    border-right: none;
    background: #D9EDF7;
    padding: 3px;
    margin: 5px 0px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);

}

.demo .partial {
    border-left: 3px solid red;
}

.demo .row {
    /*background-color: #F5F5F5;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 2px 0;
    position: relative;
    padding: 25px 14px 0;
}

/*.demo:after {*/
/*background-color: #F5F5F5;*/
/*border: 1px solid #DDDDDD;*/
/*border-radius: 4px 0 4px 0;*/
/*color: #9DA0A4;*/
/*content: "Container";*/
/*font-size: 12px;*/
/*font-weight: bold;*/
/*left: -1px;*/
/*padding: 3px 7px;*/
/*position: absolute;*/
/*top: -1px;*/
/*}*/
.demo .column {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 9px 0;
    padding: 20px 7px 10px 7px;
    position: relative;
}

/*.demo .column:after {*/
/*background-color: #F5F5F5;*/
/*border: 1px solid #DDDDDD;*/
/*border-radius: 4px 0 4px 0;*/
/*color: #9DA0A4;*/
/*font-size: 12px;*/
/*font-weight: bold;*/
/*left: -1px;*/
/*padding: 3px 7px;*/
/*position: absolute;*/
/*top: -1px;*/
/*}*/