.b-schedule {
    background: #0e0e0e;
    padding: 20px 0
}
.b-schedule .schedule__header {
    margin-top: 10px
}
.b-schedule .schedule__header,
.b-schedule .schedule__header .schedule__header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}
.b-schedule .schedule__header .header__legend .header__legend-title {
    margin-right: 10px;
    font-size: 16px;
    line-height: 20px
}
.b-schedule .schedule__header .header__legend .price {
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/prices.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 87px;
    height: 42px;
    white-space: nowrap;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    font-size: 19px
}
.b-schedule .schedule__header .header__legend .price span {
    font-size: 11px
}
.b-schedule .schedule__header .header__legend .price.low {
    background-position: 0 -7px;
    color: #960007
}
.b-schedule .schedule__header .header__legend .price.middle {
    background-position: -106px -7px;
    color: #015d79
}
.b-schedule .schedule__header .header__legend .price.high {
    background-position: -201px -7px;
    color: #007417
}
.b-schedule .schedule__header .header__legend .price.extra {
    background-position: -305px -7px;
    color: #b57129
}
.b-schedule .schedule__header .header__legend .price.discount {
    background-position: -405px -7px;
    color: #cc14e2
}
.b-schedule .schedule__header .header__actor-amount {
    font-weight: 600;
    margin-left: 20px;
    transition: .5s;
    opacity: 0;
    font-size: 14px;
    max-width: 160px
}
.b-schedule .schedule__header .header__actor-amount.active {
    opacity: .8
}
.b-schedule .schedule__header .header__fear {
    display: flex;
    line-height: 1
}
.b-schedule .schedule__header .header__fear.b-room {
    background-color: transparent
}
.b-schedule .schedule__header .header__fear .room-fear {
    margin-left: 10px
}
.b-schedule .schedule__header .header__fear .room-fear.almost_scary i:nth-child(n+3),
.b-schedule .schedule__header .header__fear .room-fear.horror_scary i:nth-child(n+6),
.b-schedule .schedule__header .header__fear .room-fear.not_scary i:nth-child(n+2),
.b-schedule .schedule__header .header__fear .room-fear.scary i:nth-child(n+4),
.b-schedule .schedule__header .header__fear .room-fear.very_scary i:nth-child(n+5) {
    color: #dadada
}
.b-schedule .schedule__header .header__combo {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #fff;
    font-size: 14px
}
.b-schedule .schedule__header .header__combo>span {
    display: block;
    padding-right: 5px
}
.b-schedule .schedule__header .header__combo>span span {
    color: #259937
}
.b-schedule .schedule__header .header__combo i {
    font-size: 14px;
    color: #259937
}
.b-schedule .schedule__header .header__combo:hover span {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff
}
.b-schedule .schedule__header .header__combo:hover i {
    transform: scale(1.2)
}
.b-schedule .schedule__actor {
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.b-schedule .schedule__actor .actor__hero {
    background: #1d1d1d;
    padding: 0 10px 0 30px;
    font-size: 14px;
    display: flex;
    border-radius: 10px;
    min-height: 135px;
    width: 100%
}
.b-schedule .schedule__actor .actor__hero .hero__image {
    position: relative;
    flex: 0 0 285px
}
@media only screen and (max-width: 910px) {
    .b-schedule .schedule__actor .actor__hero .hero__image {
        flex: 0 0 220px
    }
}
.b-schedule .schedule__actor .actor__hero .hero__image img {
    width: 315px;
    position: absolute;
    left: -30px;
    bottom: 0;
    display: block
}
@media only screen and (max-width: 910px) {
    .b-schedule .schedule__actor .actor__hero .hero__image img {
        width: 220px
    }
}
.b-schedule .schedule__actor .actor__hero .hero__content {
    padding: 20px 45px 20px 20px;
    max-width: 850px
}
.b-schedule .schedule__actor .actor__hero .hero__content .content__title {
    color: #4b79bb;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 7px
}
.b-schedule .schedule__actor .actor__hero .hero__content .content__text {
    color: #fff;
    font-size: 14px;
    line-height: 1.3
}
.b-schedule .schedule__actor .actor__hero .hero__content .content__text p {
    color: inherit;
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 0
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch {
    background: #1d1d1d;
    padding: 0;
    margin-top: 15px;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch i {
    font-size: 18px;
    margin-right: 10px
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch i.icon_act {
    margin-right: 3px;
    margin-left: 3px
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__without-actors {
    font-weight: 600;
    margin-right: 10px
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__switcher {
    cursor: pointer;
    position: relative;
    display: block;
    width: 26px;
    height: 10px;
    background: #5d5d5d;
    border-radius: 10px
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__switcher.active {
    background: #259937
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__switcher.active:after {
    left: 14px
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__switcher:after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .4);
    transition: .3s
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__actors {
    font-weight: 600;
    margin-left: 10px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center
}
.b-schedule .schedule__actor .actor__hero .hero__content .actor__switch .switch__actors i {
    font-size: 20px
}
.b-schedule .schedule__role-play .actor__hero .hero__image img {
    width: 200px;
    left: 0
}
.b-schedule .schedule__cube .actor__hero .hero__image {
    flex: 0 0 195px
}
.b-schedule .schedule__cube .actor__hero .hero__image img {
    width: auto;
    max-width: 185px;
    left: 0;
    top: 0;
    margin: auto
}
.b-schedule .schedule__aktsiya .actor__hero {
    display: block;
    padding: 0;
    overflow: hidden;
    position: relative;
    min-height: 170px
}
.b-schedule .schedule__aktsiya .actor__hero .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 560px;
    background: none no-repeat 0 0;
    background-size: cover
}
.b-schedule .schedule__aktsiya .actor__hero .hero__image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #1d1d1d, rgba(29, 29, 29, .83) 18.75%, rgba(29, 29, 29, 0) 40.18%)
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content {
    position: relative;
    padding: 26px 50px 26px 24px
}
@media (max-width: 1199px) {
    .b-schedule .schedule__aktsiya .actor__hero .hero__content {
        max-width: 465px
    }
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content>i {
    position: absolute;
    top: 0;
    left: -50px;
    bottom: 0;
    height: 50px;
    margin: auto;
    color: #fff;
    font-size: 52px;
    opacity: .15
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__link,
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__title {
    color: #007417;
    font-weight: 600
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__title {
    color: #259937;
    font-size: 20px;
    margin-bottom: 5px
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__link,
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__text {
    font-size: 16px;
    line-height: 1.25
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__link {
    margin-top: 10px;
    display: inline-block;
    border-bottom: 1px solid
}
.b-schedule .schedule__aktsiya .actor__hero .hero__content .content__link:hover {
    border-bottom-color: transparent
}
.b-schedule .schedule__aktsiya .actor__hero .hero__info {
    position: absolute;
    top: 11px;
    right: 11px;
    color: #fff;
    font-size: 16px;
    opacity: .7
}
.b-schedule .schedule__aktsiya .actor__hero .hero__info:hover {
    opacity: 1
}
@media (max-width: 991px) {
    .b-schedule .schedule__aktsiya .actor__hero .h-100 {
        height: auto!important
    }
    .b-schedule .schedule__aktsiya .actor__hero .hero__image {
        position: static;
        height: 160px;
        max-width: 100%
    }
    .b-schedule .schedule__aktsiya .actor__hero .hero__content {
        max-width: 100%
    }
}
@media (max-width: 480px) {
    .b-schedule .schedule__aktsiya .actor__hero {
        min-height: auto;
        text-align: center
    }
    .b-schedule .schedule__aktsiya .actor__hero .hero__image {
        display: none
    }
}
.b-schedule .calendar {
    padding: 20px 0
}
.b-schedule .calendar .owl-stage {
    display: flex
}
.b-schedule .calendar .day {
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    transition: all .2s ease-out 0s;
    padding: 0 10px
}
.b-schedule .calendar .day .day-header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px
}
.b-schedule .calendar .day .day-header .date {
    color: #be9d6c
}
.b-schedule .calendar .day .day-header .weekday {
    color: #960007
}
.b-schedule .calendar .day .list {
    padding: 15px 0 10px;
    margin: 0
}
.b-schedule .calendar .day .list .calendar__item {
    position: relative;
    height: auto;
    margin: 0 0 11px;
    display: block
}
.b-schedule .calendar .day .list .calendar__item .item__time {
    width: 93px;
    height: 40px;
    position: relative;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    margin: 0 auto 5px
}
.b-schedule .calendar .day .list .calendar__item .item__price {
    display: none
}
.b-schedule .calendar .day .list .calendar__item .book_label {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    text-align: center;
    top: -15px;
    font-size: 12px;
    color: #d9b67d;
    text-shadow: 0 0 10px #000;
    text-transform: lowercase;
    white-space: nowrap
}
.b-schedule .calendar .day .list .calendar__item.available .item__time {
    background-position: -1000px -1000px;
    background-image: url(../images/prices.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer
}
.b-schedule .calendar .day .list .calendar__item.available:hover .book_label {
    display: block
}
.b-schedule .calendar .day .list .calendar__item.available.past .item__time,
.b-schedule .calendar .day .list .calendar__item.disabled .item__time {
    background-image: none;
    cursor: not-allowed
}
.b-schedule .calendar .day .list .calendar__item.low .item__time {
    background-position: 5px -62px
}
.b-schedule .calendar .day .list .calendar__item.low:hover .item__time {
    background-position: 5px -119px
}
.b-schedule .calendar .day .list .calendar__item.low.selected .item__time {
    background-position: 5px -172px
}
.b-schedule .calendar .day .list .calendar__item.middle .item__time {
    background-position: -100px -62px
}
.b-schedule .calendar .day .list .calendar__item.middle:hover .item__time {
    background-position: -100px -119px
}
.b-schedule .calendar .day .list .calendar__item.middle.selected .item__time {
    background-position: -100px -172px
}
.b-schedule .calendar .day .list .calendar__item.high .item__time {
    background-position: -195px -62px
}
.b-schedule .calendar .day .list .calendar__item.high:hover .item__time {
    background-position: -195px -119px
}
.b-schedule .calendar .day .list .calendar__item.high.selected .item__time {
    background-position: -195px -172px
}
.b-schedule .calendar .day .list .calendar__item.extra .item__time {
    background-position: -299px -62px
}
.b-schedule .calendar .day .list .calendar__item.extra:hover .item__time {
    background-position: -299px -119px;
    color: #ddd
}
.b-schedule .calendar .day .list .calendar__item.extra.selected .item__time {
    background-position: -299px -172px;
    color: #ddd
}
.b-schedule .calendar .day .list .calendar__item.discount .item__time {
    background-position: -400px -62px
}
.b-schedule .calendar .day .list .calendar__item.discount:hover .item__time {
    background-position: -400px -119px
}
.b-schedule .calendar .day .list .calendar__item.discount.selected .item__time {
    background-position: -400px -172px
}
.b-schedule .calendar .day .list .calendar__item.selected {
    font-size: 24px
}
.b-schedule .calendar .day .list .calendar__item.past .item__time {
    color: #484747
}
.b-schedule .calendar .day .list .calendar__item.actor_1:not(.disabled):not(.past) .item__time:after,
.b-schedule .calendar .day .list .calendar__item.actor_2:not(.disabled):not(.past) .item__time:after {
    content: "î¤";
    font-family: icomoon;
    display: block;
    position: absolute;
    right: 0;
    top: -4px;
    line-height: 1.2;
    opacity: .7
}
.b-schedule .calendar .day:hover {
    background-color: rgba(0, 0, 0, .6)
}
.b-schedule .calendar .owl-nav {
    width: 100%
}
.b-schedule .calendar .owl-nav .owl-next,
.b-schedule .calendar .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
    display: block;
    width: 34px;
    height: 123px;
    opacity: .7;
    transition: opacity .2s ease-out 0s
}
.b-schedule .calendar .owl-nav .owl-next:hover,
.b-schedule .calendar .owl-nav .owl-prev:hover {
    opacity: 1
}
.b-schedule .calendar .owl-nav .owl-prev {
    left: -55px;
    background-image: url(../images/icons/arrows.png);
    background-position: 0 0
}
.b-schedule .calendar .owl-nav .owl-next {
    right: -55px;
    background-image: url(../images/icons/arrows.png);
    background-position: -35px 0
}
.b-schedule .calendar.actor-disable .day ul li .item__time:after {
    display: none
}
.b-schedule.m_schedules-for-admin .schedules-for-admin__container {
    padding-top: 50px
}
.b-schedule.m_schedules-for-admin .schedules-for-admin__container h1 {
    font-size: 20px
}
@media (max-width: 1200px) {
    .b-schedule .calendar {
        padding: 20px 40px
    }
    .b-schedule .calendar .owl-nav .owl-prev {
        left: 0
    }
    .b-schedule .calendar .owl-nav .owl-next {
        right: 0
    }
}
@media (max-width: 768px) {
    .b-schedule .schedule__header {
        justify-content: center
    }
    .b-schedule .schedule__header .schedule__header-left {
        display: none
    }
    .b-schedule .schedule__header .header__legend {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 10px
    }
    .b-schedule .schedule__header .header__legend .price {
        margin: 10px 20px 0
    }
    .b-schedule .schedule__actor {
        margin: 20px 0
    }
    .b-schedule .schedule__actor .actor__hero {
        flex-direction: column-reverse;
        padding: 0
    }
    .b-schedule .schedule__actor .actor__hero .hero__image {
        flex: auto
    }
    .b-schedule .schedule__actor .actor__hero .hero__image img {
        position: relative;
        margin: 0 auto
    }
    .b-schedule .schedule__actor .actor__hero .hero__description {
        padding: 20px
    }
    .b-schedule .schedule__actor .actor__hero .hero__description b {
        font-weight: 700
    }
    .b-schedule .schedule__actor .actor__switch {
        width: 100%;
        border: 0;
        padding: 0 10px
    }
    .b-schedule .calendar {
        padding: 20px 0
    }
}
@media (max-width: 576px) {
    .b-schedule .schedule__header {
        margin-top: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center
    }
    .b-schedule .schedule__header .header__legend {
        justify-content: flex-start
    }
    .b-schedule .schedule__header .header__legend>div.price {
        margin-left: 0
    }
}
@media (max-width: 576px) and (max-width: 480px) {
    .b-schedule .schedule__header .header__legend>div.price {
        margin-right: 5px
    }
}
@media (max-width: 576px) {
    .b-schedule .schedule__header .header__legend>div.price+div.price {
        margin-right: 15px
    }
}
@media (max-width: 576px) and (max-width: 480px) {
    .b-schedule .schedule__header .header__legend>div.price+div.price {
        margin-right: 5px
    }
}
@media (max-width: 576px) {
    .b-schedule .schedule__header .header__actor-amount {
        margin-left: 0
    }
}
@media (max-width: 576px) and (max-width: 480px) {
    .b-schedule .schedule__header .header__actor-amount {
        max-width: 100%
    }
    .b-schedule .schedule__header .header__actor-amount br {
        display: none
    }
}
@media (max-width: 576px) {
    .b-schedule .schedule__header .header__fear {
        margin-top: 10px
    }
}
@media (max-width: 480px) {
    .b-schedule .schedule-top-wrapper {
        display: flex;
        flex-direction: column-reverse
    }
    .b-schedule .schedule-top-wrapper .m-hidden {
        display: none!important
    }
    .b-schedule .schedule-top-wrapper .p-booking {
        margin: 20px -20px 0;
        order: -1
    }
    .b-schedule .schedule__actor .actor__hero .hero__content {
        position: relative;
        padding: 15px
    }
    .b-schedule .schedule__actor .actor__hero .hero__image img {
        position: absolute;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        width: 70%
    }
    .b-schedule .schedule__header .header__combo {
        padding: 10px 15px;
        border-radius: 20px;
        background-color: #1d1d1d;
        border: 1px solid #ccc
    }
}
@media (max-width: 380px) {
    .b-schedule .actor__hero .hero__content .actor__switch .switch__without-actors span {
        display: none
    }
}
.b-schedule .schedule-loader {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: .3s ease-in
}
.b-schedule .schedule-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    -webkit-animation: schedule-loader 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    animation: schedule-loader 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    border: 4px solid transparent;
    border-top-color: #be9d6c
}
.b-schedule .schedule-loader div:first-child {
    -webkit-animation-delay: -.45s;
    animation-delay: -.45s
}
.b-schedule .schedule-loader div:nth-child(2) {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}
.b-schedule .schedule-loader div:nth-child(3) {
    -webkit-animation-delay: -.15s;
    animation-delay: -.15s
}

